.modal-example {
    position: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*z-index: 1050;*/
    /* display: none; */
    overflow: hidden;
    outline: 0;
}
.popover {
    position: inherit;
    display: inline-block;
}

.popover.bs-popover-top .arrow, .popover.bs-popover-auto[x-placement^="top"] .arrow {
    left: 50%;
}
.popover.bs-popover-bottom .arrow, .popover.bs-popover-auto[x-placement^="bottom"] .arrow {
    left: 50%;
}
.popover.bs-popover-right .arrow, .popover.bs-popover-auto[x-placement^="right"] .arrow {
    top: 50%;
}
.popover.bs-popover-left .arrow, .popover.bs-popover-auto[x-placement^="left"] .arrow {
    top: 50%;
}
.progress {
    margin-top: 1rem;
}
.tooltip{
    position: relative;
    display: inline-block;
    margin: 10px 20px;
    opacity: 1;
}
.tooltip.bs-tooltip-right .arrow, .tooltip.bs-tooltip-auto[x-placement^="right"] .arrow{
    top:50%;
}
.tooltip.bs-tooltip-left .arrow, .tooltip.bs-tooltip-auto[x-placement^="left"] .arrow{
    top:50%;
}
.tooltip.bs-tooltip-top .arrow, .tooltip.bs-tooltip-auto[x-placement^="top"] .arrow{
    left: 50%;
}
.tooltip.bs-tooltip-bottom .arrow, .tooltip.bs-tooltip-auto[x-placement^="bottom"] .arrow{
    left: 50%;
}